langchain
langchain-core
langchain-community
langchain-openai
langchain_google_genai
langchain-text-splitters
langchain_huggingface
langchain-pinecone
langserve
streamlit
openai
pinecone
fastapi
sentence-transformers
chromadb
faiss-cpu
bs4
pypdf
sse_starlette
ipykernel
python-dotenv
arxiv
wikipedia